{% extends "skeleton/_body.html" %}
{%hyde
    title: "Home"
    created: 2009-02-01 18:09:05
    listing: True
%}

{% block extra_js %}
  <script type="text/javascript"
    src="{{site.url}}/media/js/novel.js"></script>
{% endblock %}

{% block content_body %}

<script type="text/javascript">
$(document).ready(function(){
	$.getJSON("http://empt1e.blogspot.com/feeds/posts/default?orderby=published&alt=json-in-script&callback=?",
		novel.recentBlogPosts);
	$.getJSON("http://twitter.com/status/user_timeline/mirrorboo.json?count=5&callback=?",
		novel.recentTweets);
});
</script>

<h2>Recent Posts</h2>

<ul id="recentblogposts">
</ul>

<p>Please check <a href="http://empt1e.blogspot.com/" target="_blank">my blog</a> for more posts.</p>

<h2>Recent Tweets</h2>

<ul id="recenttweets">
</ul>

<p>Follow me on twitter: <a href="http://twitter.com/mirrorboo" target="_blank">@mirrorboo</a>.</p>

{%endblock%}
