{% extends "skeleton/_body.html" %}
{%hyde
    title: "Home"
    created: 2009-02-01 18:09:05
    listing: True
%}

{% block extra_js %}
   <script src="{{site.url}}/media/js/recentposts.js"></script>
{% endblock %}

{% block content_body %}

<script type="text/javascript">

$(document).ready(function(){
   var scriptElement = document.createElement('script');
   scriptElement.setAttribute('type', 'text/javascript');
   scriptElement.setAttribute('src', "http://empt1e.blogspot.com/feeds/posts/default?orderby=published&alt=json-in-script&callback=recentPosts");
   document.documentElement.firstChild.appendChild(scriptElement);
});

</script>

<h2>Recent Posts</h2>

<ul id="envlist">
</ul>

<p>Please check <a href="http://empt1e.blogspot.com/">my blog</a> for more posts.</p>

{%endblock%}
