{% extends "_page.html" %}
{%hyde
    title: "Projects"
%}
{% block article %}

# Own projects

## Actual

### lc-tools

[lc-tools][] is a unified client for cloud APIs based
on [libcloud][].

### gg-tools

[gg-tools][] is a Python package that supports [GoGrid][] API
and set of command line tools based on the package.

It's widely used in a company I currently work for most of the
project that use [GoGrid][] and it's quite stable.

I'm not planning to add some new features here though, because
it looks more reasonable approach to invest time into [lc-tools][]
as more general solution. Anyway, it still makes sense to
use [gg-tools][] if you need to work with GoGrid at lower level
that libcloud's abstraction. 

### ecru

[ecru][] is a command line client for LiveJournal which relies
on your _$EDITOR_ a lot. I created it because there we no
CLI clients I liked and for the sake of some practical usage
of C++.

I haven't had much time to spend on C++ and blogging but I
hope to get back to this project soon.

### cdf

[cdf][] is a *c*olorful *df*, written in C with help of
_Pierre Chifflier_. I haven't updated for a long time,
but it works fine still.

## Past

When [Beep-Media-Player][] appeared I ported some XMMS plugins I
missed:

 * _bmp-wma_ - a port of xmms-wma plugin
 * _bmp-songchange_ - a port of songchange plugin which comes with
    XMMS by default
 * _bmp-rootvis_ - a port of xmms-rootvis plugin
 * _bmp-htmlplaylist_ - a simple application which saves current
   playlist as HTML or XML file; it can also print track title currently
   being playing which is quite convenient for scripting

Project page: [bmp-plugins][].

# Contributor

## Actual

### FreeBSD

I got my [FreeBSD][] ports commit bit back in 2005. Time to time
I create _src_ and _doc_ patches.

### libcloud

Started working on [libcloud][] not so long ago, mainly supporting
[GoGrid][] driver.

## Past

List of projects I've used to contribute to:

### Torsmo and Conky

I've first seen [Torsmo][] back in 2004. It only supported Linux and I decided
to create a port for FreeBSD. I had to re-implement all the monitoring stuff
for FreeBSD. At that time torsmo was not supported by its maintainers already,
so I just kept all the patches in the port.

Later on [Torsmo][] was finally forked, new project was called [Conky][]. I 
happened to get a commit access and imported all my patches. For few years
I've been supporting FreeBSD specific features, did a basic bugfixing, added
some new features. At some point I changed the way I work with my computer
and stopped using conky, therefore stopped supporting conky and passed
maintainership to other person.

### PearPC

[PearPC][] is a PowerPC emulator, a very interesting project. I've been only
improving portability of GNU autotools based build system. Unfortunately,
the project doesn't seem to be active anymore.

[lc-tools]: http://novel.github.com/lc-tools/
[gg-tools]: http://novel.evilcoder.org/gg/
[ecru]: http://novel.evilcoder.org/ecru/
[cdf]: http://bmp-plugins.berlios.de/misc/cdf/cdf.html
[FreeBSD]: http://www.freebsd.org
[libcloud]: http://libcloud.org
[GoGrid]: http://gogrid.com
[Torsmo]: http://torsmo.sourceforge.net/
[Conky]: http://conky.sf.net
[PearPC]: http://pearpc.sourceforge.net/
[Beep-Media-Player]: http://en.wikipedia.org/wiki/Beep_media_player
[bmp-plugins]: http://bmp-plugins.berlios.de/

{% endblock %}
