{% extends "_page.html" %}
{%hyde
    title: "About"
%}
{% block article %}

# About

My name is Roman Bogorodskiy, I live in a small town
in Russia. I'm a software engineer in my mid-twenties.

 * [Resume](http://people.freebsd.org/~novel/roman_bogorodskiy_resume.txt)
 * [GPG Key](http://people.freebsd.org/~novel/novel.key.asc)
 * [Blog](http://empt1e.blogspot.com/)

# Programming

I have experience working boths as System Engineer and
as a Software Engineer. Talking about software, my
OS of choice is [FreeBSD][], though I use Linux as well.
As for programming languages, I like C and Python, 
trying to understand if I like C++ and have to deal with
Java time to time.

I like Open Source and try to contribute to existing
projects and share projects of my own, check out 
[projects][] page for details.

[FreeBSD]: http://www.freebsd.org
[projects]: /projects/projects.html

# Cars

The second important hobby for me after programming is cars.
I like good looking well handling fast cars. I enjoy reading
about aftermarket parts, choosing and installing
them, feeling how's the car changed (sometimes changes are
no good, though). I haven't had very much cars in my life,
neither of them were really fast or exotic, but at least
they were not stock.

# Contacts

My email address and Jabber ID: [bogorodskiy@gmail.com](mailto:bogorodskiy@gmail.com).

You can find me on social networks like:

 * [GitHub](http://github.com/novel)
 * [LinkedIn](http://ru.linkedin.com/in/romanbogorodskiy/)
 * [Last.FM](http://www.last.fm/user/mirrorbox)
    
{% endblock %}





