{% extends "_page.html" %}
{%hyde
    title: "About"
%}
{% block article %}

My name is Roman Bogorodskiy, I live in a small town
in Russia. I'm a software engineer in my mid-twenties.

I have experience working boths as System Engineer and
as a Software Engineer. Talking about software, my
OS of choice is [FreeBSD][], though I use Linux as well.
As for programming languages, I like C and Python, 
trying to understand if I like C++ and have to deal with
Java time to time.

[FreeBSD]: http://www.freebsd.org

You can find me on social networks like:

 * [GitHub](http://github.com/novel)
 * [LinkedIn](http://ru.linkedin.com/in/romanbogorodskiy/)
 * [Last.FM](http://www.last.fm/user/mirrorbox)
    
{% endblock %}





