{% extends "_page.html" %}
{%hyde
    title: "Writings"
%}
{% block article %}

Time to time I write about UNIX-like systems and software. I'm interested
in freelance writing, let me know if you need to write something on
UNIX based systems programming and usage or Russian to English translation
of technical articles, manuals or applications.

# Online Publications

 * [Keyboard's media keys configuration in X Window system](http://www.opennet.ru/base/X/media_keys.txt.html) Russian, 2004
 * [getmail+procmail+mutt+msmtp on FreeBSD](http://www.nixp.ru/articles/getmailPlusprocmailPlusmuttPlusmsmtp-на-примере-FreeBSD.html) Russian, 2004
 * [Fluxbox FAQ](http://www.nixp.ru/articles/Fluxbox-установка-настройка-FAQ.html), Russian, unknown

# Paper publications

 * Continues Integration for Django projects using cijoe, Linux Format (Russia), issue #129, Russian, 2010

# Books

 * Technical reviewer of the book [Network Administration with FreeBSD 7][], ISBN 847192645, English, 2008 

[Network Administration with FreeBSD 7]: https://www.packtpub.com/network-administration-with-freebsd/book

# Translations
 
 * [Fluxbox manual](http://fluxbox.sourceforge.net/docbook/ru/html/), English to Russian, 2004

{% endblock %}





